@mixin condensed() {
  font-family: 'LinotypeUniversW02-Cn';
}

@mixin bold {
  font-family: 'LinotypeUniversW01-Bold_723691';
}

@mixin light {
  font-family: 'LinotypeUniversW01-Ligh_723625';
}

@mixin medium {
  font-family: 'LinotypeUniversW01-Medi_723673';
}
