.footer {
    @include unitize(padding-left, 20);
    @include unitize(padding-right, 20);
    @include unitize(padding-bottom, 10);
    text-align: center;
}

.footer .inner {
    @include flexbox;
    @include flex-wrap(wrap);
}

.footer .title {
    @include unitize(font-size, 24);
    @include bold();
    @include unitize(padding-bottom, 10);
}

.footer .subtitle {
    @include unitize(font-size, 20);
    @include bold();
    @include unitize(padding-bottom, 10);
}

.footer .contact,
.footer .social {
    width: 100%;
}

.footer .links {
    width: 100%;
    @include unitize(margin-top, 10);
    @include flexbox;
}

.footer .links .subtitle {
    width: 33%;
}

.footer .links .impressum {
    text-align: left;
}

.footer .links .agb {
    text-align: right;
}

.footer .company p,
.footer .company a {
    @include unitize(padding-bottom, 5);
}

.footer .company a {
    color: $color-black;
    text-decoration: none;
    display: inline-block;
}

.footer .company:last-child,
.footer .company p:last-of-type {
    @include unitize(padding-bottom, 10);
}

.footer .social img {
    @include unitize(width, 35);
    @include unitize(padding-right, 10);
}

.footer .copyright {
    text-align: center;
}

/******************* Tablet view *******************/
@include media('>tablet', 'screen') {

.footer {
    text-align: left;
    @include unitize(margin-top, 40);
}

.footer .title {
    @include unitize(font-size, 28);
    @include unitize(padding-bottom, 20);
}

.footer .subtitle {
    @include unitize(font-size, 24);
    @include unitize(padding-bottom, 20);
}

.footer .contact {
    width: 40%;
}

.footer .company p:last-of-type {
    @include unitize(padding-bottom, 20);
}

.footer .social {
    width: 40%;
}

.footer .links {
    width: 20%;
    margin-top: 0;
    display: block;
}

.footer .links .subtitle {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.footer .social img {
    @include unitize(width, 45);
}

}

/******************* Desktop view *******************/
@include media('>desktop', 'screen') {

.footer {
    margin: 0 auto;
    @include unitize(width, 1180);
    @include unitize(margin-top, 100);
}

}
