.header {
    background-color: $color-light-grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include unitize(height, 60);
}

.logo {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    @include unitize(left, 20);
}

.logo img {
    @include unitize(width, 120);
    height: 100%;
}

.language-filter {
    display: none;
}

.main {
    @include unitize(padding-left, 20);
    @include unitize(padding-right, 20);
    @include unitize(padding-top, 60);
}



/******************* Tablet view *******************/
@include media('>tablet', 'screen') {

.header {
    @include unitize(height, 80);
}

.logo img {
    @include unitize(width, 150);
}

.main {
    @include unitize(padding-left, 10);
    @include unitize(padding-right, 10);
    @include unitize(padding-top, 80);
}

}

/******************* Desktop view *******************/
@include media('>desktop', 'screen') {

.logo {
    position: relative;
    left: 0;
}
.header {
    position: fixed;
    left: 0;
    height: 100vh;
    @include unitize(padding, 20);
    @include unitize(padding-left, 80);
    @include unitize(padding-top, 40);
    @include unitize(width, 300);
}
.main {
    margin: 0 auto;
    @include unitize(width, 1180);
}
.language-filter {
    @include bold();
    color: $color-dark-grey;
    @include unitize(font-size, 24);
    display: block;

}

.language-filter li:first-child {
    @include unitize(margin-top, 90);
}

.language-filter ul {
    list-style-type: none;
}

}
