@import 'include-media';
@import 'unitize';
@import 'flexbox';
@import 'helper';
@import 'viewports';
@import 'fonts';
@import 'colors';
@import 'header';
@import 'head';
@import 'project';
@import 'footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-light-grey;
    color: $color-black;
    @include unitize(font-size, 14);
    @include condensed();
}

/******************* Tablet view *******************/
@include media('>tablet', 'screen') {

body {
    @include unitize(font-size, 16);
}
  /** Vars **/

}

/******************* Desktop view *******************/
@include media('>desktop', 'screen') {

  /** Vars **/
body {
  @include unitize(font-size, 18);
}



}
