.project {
    width: 100%;
    @include unitize(margin-bottom, 20);
}

.project .inner {
    background-color: $color-white;
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    @include flexbox();
    @include flex-direction(column);
    @include unitize(padding, 20 20);
}

.project .head {
    color: $color-dark-grey;
    @include unitize(padding-bottom, 20);
    @include flexbox;
    @include justify-content(space-between);
}

.project .head .stars,
.project .head .forks,
.project .head .license {
    @include flexbox;
}

.project .head .stars::before,
.project .head .forks::before,
.project .head .license::before {
    content: " ";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include unitize(width, 20);
    @include unitize(height, 20);
    @include unitize(margin-right, 10);
}

.project .head .stars::before {
    background-image: url('../../assets/icons/ic_star.svg');
}

.project .head .forks::before {
    background-image: url('../../assets/icons/ic-split-round.svg');
}

.project .head .license::before {
    background-image: url('../../assets/icons/ic_copyright.svg');
}

.project .language {
    @include unitize(padding-bottom, 10);
}

.project .title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    @include unitize(font-size, 26);
    @include unitize(padding-bottom, 20);
}

.project .description {
    @include unitize(padding-bottom, 20);
}

.project .link {
    text-decoration: none;
    color: $color-blue;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
    @include unitize(height, 21);
}

/******************* Tablet view *******************/
@include media('>tablet', 'screen') {

.projects {
    @include flexbox;
    @include flex-wrap(wrap);
}

.project {
    border-style: solid;
    border-color: transparent;
    width: 50%;
    margin-bottom: 0;
    @include unitize(border-width, 10);
}

.project .head {
    padding-left: 0;
    padding-right: 0;
    @include unitize(padding-bottom, 40);
}

.project .inner {
    @include unitize(padding, 20 40);
}

.project .title {
    @include unitize(font-size, 30);
}

.project .language {
    @include unitize(padding-bottom, 20);
}

.project .description {
    @include unitize(padding-bottom, 40);
}
}

/******************* Desktop view *******************/
@include media('>desktop', 'screen') {

.project {
    width: 33.3333%;
}

.project .title {
    @include unitize(font-size, 34);
}

.project .inner {
    @include unitize(padding-bottom, 40);
}
}
